<div class="jumbotron">
        <h1 class="text-center">Alurapic</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="fotos/new" class="btn btn-primary">Nova Foto</a>
                    </span>
                    <!--ng-model cria um two-way-databinding com o controller, ng-model-options aplica um delay em ms-->
                    <input class="form-control" ng-model="filtro" ng-model-options="{debounce: 500}" placeholder="Filtrar">
                </div><!--Fim Input Group-->
            </form>
        </div><!--Fim col-md-12-->
    </div><!--Fim Row-->
    <div class="row">
        <!-- Diretiva ng-repeat usada para repetir o conteúdo da Div para cada foto presente na lista-->
        <meu-painel class="col-md-2 painel-animado" ng-repeat="fotos in foto | filter: filtro" titulo="{{fotos.titulo}}">
            <img class="img-responsive center-block" src="{{fotos.url}}" alt="{{fotos.titulo}}">
        </meu-painel><!-- fim do painel-->
    </div><!--Fim Row 2-->